<div class="container">
    <app-navi>
        <div class="row">
            <div class="coll-mp-3">
                <app-car></app-car>
            </div>
            <div class="coll-mp-3">
                <app-brand></app-brand>
            </div>
            <div class="coll-mp-3">
                <app-color></app-color>
            </div>
            <div class="coll-mp-3">
                <app-rental></app-rental>
            </div>
        </div>
    </app-navi>
    
    <router-outlet></router-outlet>
</div>

